@use "module1.scss";
@import "module3.scss";
$color-primary: module1.$color-primary;
$color-secondary: module1.$color-secondary;
$color-tertiary: module1.$color-tertiary;
@mixin article-card ($color, $border-color: $color-tertiary, $font-size: toRem(16)) {
    color: $color;
    border: toRem(1) solid;
    border-color: $border-color;
    font-size: $font-size;
}
section:nth-of-type(1) {
    article:nth-of-type(odd){
    @include article-card($color-secondary);
    }
    article:nth-of-type(even){
    @include article-card($color-primary);
}
}
section:nth-of-type(2) {
    article {
        @include article-card($color-tertiary, $color-secondary, toRem(24));
    }
    margin-top: toRem(0);
    place-self: center;
}